name: Container Image Verification

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string

jobs:
  build:
    name: Image Build/Verify
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      packages: read
      security-events: write

    steps:
    - uses: actions/checkout@v3

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v1.6.0

    - name: Login to GHCR
      uses: docker/login-action@v2.0.0
      with:
        registry: ghcr.io
        username: _json_key
        password: ${{ secrets.PACKAGES_PAT }}

    - name: Build the Container Image
      uses: docker/build-push-action@v2.10.0
      with:
        tags: ${{ inputs.image }}:latest, ${{ inputs.image }}:${{ github.sha }}
        push: false
